// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Paleta de colores
$dark-primary: #0F172A;
$dark-secondary: #1E293B;
$light-primary: #F3F4F6;

$success: #34D399;
$danger: #FB7185;
$blue: #38BDF8;
